body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor_principal{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 80px 60px auto 60px;

    grid-template-areas:
        "encabezado"
        "menu"
        "contenido"
        "pie";
}

.encabezado{ grid-area: encabezado; }
.menu{ grid-area: menu; }
.contenido{ grid-area: contenido; }
.pie{ grid-area: pie; }

/* encabezado */
.encabezado{
    background: black;
    color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.titulo_galeria{
    text-align: center;
    font-size: 40px;
    color: crimson;
    margin-top: 40px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.logo{
    color: red;
    text-decoration: none;
    font-size: 28px;
}

.menu{
    background: #111;
    padding: 15px;
}

.menu ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.menu a{
    color: white;
    text-decoration: none;
}

.galeria_personajes{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 40px;
}

.tarjeta{
    background: #222;
    color: white;
    text-align: center;
    padding: 20px;
    transition: 0.3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.tarjeta:hover{
    transform: scale(1.1) rotate(2deg);
}

.tarjeta img{
    width: 100%;
    height: 250px; 
    object-fit: cover; 
}

.pie{
    background: black;
    color: white;
    text-align: center;
}
