*{
    margin: 0;
    padding: 0;
}

html{
    overflow: hidden;
}

body{
    width: 100vw;
    height: 200vh;
    perspective: 2px;
    transform-style: preserve-3d;
    background-color: cornflowerblue;
    overflow-x: hidden;
    overflow-y: scroll;
}

.contenedor-1, .espacio{
    width: 100%;
    min-height: 100vh;
    position: relative;
    transform-style: preserve-3d;
}

.contenedor-1::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../recursos/fondo2.jpeg");
    background-size: cover;
    transform: translateZ(-1px) scale(2.2);
}

.charmander{
    width: 50%;
    left: 40%;
    position: absolute;
}

.contenedor-1::after{
    content: "";
    width: 50%;
    height: 50%;
    position: absolute;
    background-image: url("../recursos/Kirby-Free-Download-PNG.png");
    background-size: cover;
    transform: translateX(10%);
    transform: translateY(30%);
}

.espacio{
    height: 200vh;
    background-color: cornflowerblue;
}