* {
  margin: 0;
  padding: 0;
}

body {
  height: 200vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px 200px;
  gap: 10px;
  padding: 20px;

  grid-template-areas:
    "parallax parallax parallax click click click"
    "onload onload move move scroll scroll";
}

.box {
  background: crimson;
  color: white;
  font-size: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.parallax { 
    grid-area: parallax; 
}

.click { 
    grid-area: click; 
}

.onload { 
    grid-area: onload; 
}

.move { 
    grid-area: move; 
}

.scroll { 
    grid-area: scroll; 
}

.parallax-fondo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
}

.parallax-img {
  position: absolute;
  width: 35%;
  bottom: 0;
}
